body {
	background: #dadab4;
	color: white;
	text-shadow: 2px 2px 2px black;
	font-family: 'Gajraj One', cursive;
}

.card-display {
	margin: auto;
	max-height: 100vh;
	padding: 0.5rem;
	text-align: center;
	width: 100vw;
}

.card-display h1,
p {
	color: #c9ba9d;
}

.card-display__button {
	background: #a26769;
	border-radius: 0.5rem;
	border: none;
	color: white;
	cursor: pointer;
	font-family: 'Gajraj One', cursive;
	margin-top: 5px;
	padding: 0.5rem;
	box-shadow: 1px 1px 2px black;
}

.card-display__grid {
	display: grid;
	justify-content: center;
	gap: 10px;
	grid-template-columns: repeat(3, 1fr);
	margin: 10px auto;
}

@media only screen and (min-width: 481px) {
	.card-display__grid {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media only screen and (min-width: 481px) and (orientation: landscape) {
	.card-display__grid {
		grid-template-columns: repeat(6, 1fr);
	}
}

@media only screen and (min-width: 769px) {
	.card-display__grid {
		grid-template-columns: repeat(4, 1fr);
		margin: 10px auto;
		width: 60vh;
	}
}

@media only screen and (min-width: 769px) and (orientation: landscape) {
	.card-display__grid {
		grid-template-columns: repeat(6, 1fr);
		width: 80%;
	}
}

@media only screen and (min-width: 1025px) {
	.card-display__grid {
		margin: auto;
		max-height: 100vh;
		padding: 0.5rem;
		text-align: center;
		width: 50vw;
	}
}

@media only screen and (min-width: 1025px) and (orientation: landscape) {
	.card-display__grid {
		grid-template-columns: repeat(4, 1fr);
		width: 45%;
	}
}
