body {
	background: #dadab4;
	color: white;
	text-shadow: 2px 2px 2px black;
	font-family: Arial, Helvetica, sans-serif;
}

.card-display {
	margin: auto;
	max-height: 100vh;
	padding: 0.5rem;
	text-align: center;
	width: 100vw;
}

.card-display h1 {
	font-family: 'Gajraj One', cursive;
}

.card-display h1,
p {
	color: #c9ba9d;
}

.card-display__button {
	background: #a26769;
	border-radius: 0.5rem;
	border: none;
	color: white;
	cursor: pointer;
	font-family: 'Gajraj One', cursive;
	margin-top: 5px;
	padding: 0.5rem;
}

.card-display__grid {
	display: grid;
	gap: 10px;
	grid-template-columns: repeat(3, 1fr);
	margin: 10px auto;
}

.card-display__grid p {
	font-family: 'Gajraj One', cursive;
}

@media screen and (min-width: 481px) {
	.card-display__grid {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media screen and (min-width: 769px) {
	.card-display__grid {
		grid-template-columns: repeat(4, 1fr);
		margin: 10px auto;
		width: 60vh;
	}
}

@media screen and (min-width: 1025px) {
	.card-display__grid {
		margin: auto;
		max-height: 100vh;
		padding: 0.5rem;
		text-align: center;
		width: 50vw;
	}
}

@media screen and (max-height: 425px) and (orientation: landscape) {
	.card-display h1 {
		font-size: 1.5rem;
	}

	.card-display p {
		font-size: 0.7rem;
	}

	.card-display__grid {
		width: 90vw;
		height: 100vh;
		grid-template-columns: repeat(4, 1fr);
	}

	.card-display__button {
		color: white;
		cursor: pointer;
		font-family: 'Gajraj One', cursive;
		font-size: 0.5rem;
		padding: 0.3rem;
	}
}

@media screen and (max-height: 1025px) and (orientation: landscape) {
	.card-display h1 {
		font-size: 2rem;
	}

	.card-display p {
		font-size: 1rem;
	}

	.card-display__grid {
		width: 80vw;
		grid-template-columns: repeat(6, 1fr);
	}

	.card-display__button {
		color: white;
		cursor: pointer;
		font-family: 'Gajraj One', cursive;
		font-size: 1rem;
		padding: 0.3rem;
	}
}
